/* about.css */
.about-section {
    padding: 50px 0;
    background-image: url('hero-background.jpg');

}

.about-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    
}

h2{
    margin-top: 64px;
}
