/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #e5e5e6;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: xx-large;
}

.brand > span {
    color: #e72463;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #e72463;
}

.featured-products {
    padding: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    text-align: center;
    margin: 20px;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
}

.product-card img {
    width: 100%;
    max-width: 250px;
    margin: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: #e72463;
}

.product-card .add-to-cart {
    background: #e72463;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-card .add-to-cart:hover {
    background: #000;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .product-card {
        flex: 1 1 100%;
    }
}
